.wrapper {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #76767e;
  }
  
  .wrapper:hover {
    cursor: pointer;
    background-color: #323236;
  }
  .go {
    padding:"20px";
    background-color:'grey';
    color:'#fff';
    width:'150px';
    border-radius: "10px"
  }