.MuiBox-root css-19kzrtu {
    width: fit-content;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #5a18b1 !important;
}
.css-1aquho2-MuiTabs-indicator {
    background-color: #5a18b1 !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color:#5a18b1 !important
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #5a18b1 !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color:#5a18b1 !important
}